<a href="https://colab.research.google.com/github/Czer17/CPEN21_BSCpE1-2/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Indentation

In [40]:
if 5 > 2:
  print("Five is greater than Two")

Five is greater than Two

##Python Comments

In [42]:
#This is a comment
print("Hello, World!")

Hello, World!

##Variables

In [43]:
#This is a string
A="Number"
#This is an integer
B=18
#This is a true or false value
is_number= True

##Casting

In [55]:
A=int(4)
print(A)
B=float(4)
print(B)

4
4.0

##Type () Functions

In [ ]:
A="Number"
print(type(A))
B=18
print(type(B))
C= True
print(type(C))

###Either double quotes or single quotes can be use.

In [56]:
Name="Czer"
Name_2="Sarah"

#Case sensitive

In [58]:
A= "Czer"
a= "Sarah"
print(A)
print(a)

Czer
Sarah

##Multiple Variables

In [62]:
x,y,z = "one", "two", "three"
print (x,y,z)

one two three

##One to Multiple Variable

In [65]:
x=y=z="Four"
print(x,y,z)

Four Four Four

##Output Variables

In [35]:
Name="Czer"
Age = "18"
print("My name is "+ Name +"." )
print("I am " +Age +".")

My name is Czer.
I am 18.

##Arithmetic Operations

In [68]:
a=5
b=6
print(a+b)
print(a-b)
print(a*a)

11
-1
25

##Assignment Operators

In [88]:
x=5
x+=5
print(x)

10

##Comparison Operators

In [75]:
a,b,c=4,5,8
print(a<b)
print(c==c)

True
True

##Logical Operator

In [82]:
a,b,c=4,5,8
print(a<b and c==c)
print(not(c==c))
print(a>b or b<c)

True
False
True

##Identity Operator

In [76]:
a,b,c=4,5,8
print(a is not b)
print(c is c)

True
True